
{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <main role="main" class="container">

      <div class="starter-template">
        <h1>Data Analysis</h1>
        
        
        
        <img src="{% static 'mercycorps_app/images/AidEfficacy.png' %}"        class="img-fluid" alt="Aid Efficacy">
        <img src="{% static 'mercycorps_app/images/AttendanceTime.png' %}"     class="img-fluid" alt="">
        <img src="{% static 'mercycorps_app/images/AttendanceDistance.png' %}" class="img-fluid" alt="">
        <p class="lead"></p>
      </div>

    </main><!-- /.container -->
{% endblock %}
