{% load static %}

<!DOCTYPE html>
<html lang="en">




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'mercycorps_app/images/mcicon.png' %}">

    <title>MercyCorps Conditional Aid</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'mercycorps_app/css/bootstrap.min.css'%}" />


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'mercycorps_app/css/starter-template.css'%}" />
    
  {% block title %}<title>Mercy Corps</title>{% endblock %}
</head>


<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="{% static 'mercycorps_app/images/mcicon.png' %}" height="32" width="32"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_student' %}">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_school' %}">School</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Make Payment</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Report</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'attendance' %}">Attendance</a>
              <a class="dropdown-item" href="payments.html">Payment History</a>
              <a class="dropdown-item" href="{% url 'data_analysis' %}">Data Analysis</a>
            </div>
          </li>
          
        <li class="nav-item">
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            </li> 
        {% else %}
            <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %} 
        </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
    

    <h1>MercyCorps Conditional Aid Portal</h1>
      
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'mercycorps_app/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'mercycorps_app/dist/js/bootstrap.min.js' %}"></script>

</body>
</html>